{% extends './base.html' %}
{% block title %}
    Video App: Your Favorites
{% endblock %}

{% block content %}
<h1>Your Favorite Videos</h1>
<a class="btn btn-success" type="submit" href="{{url_for('v_new', id=id)}}">Add a video</a>
<p></p>
{% for video in videos %}
    {% if 'vimeo' in video.video %}
    <p><a href="{{url_for('v_show', id=id, vid=video.id)}}">{{video.video}}</a><iframe src="{{video.video|replace("vimeo.com/","player.vimeo.com/video/")}}" width="640" height="268" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>
    {% endif %}
    {% if 'youtube' in video.video %}
    <p><a href="{{url_for('v_show', id=id, vid=video.id)}}">{{video.video}}</a><iframe width="560" height="315" src="{{video.video|replace("watch?v=","embed/")}}" frameborder="0" allowfullscreen></iframe></p>
    {% endif %}
{% endfor %}
{% endblock %}