{% extends './base.html' %}
{% block title %}
    Video App Edit {{ user.username }}'s Page
{% endblock %}

{% block content %}
<h1>Edit Profile</h1>
<div class="form-horizontal">
    <form action="{{url_for('profile', id=user.id)}}?_method=PATCH" method="POST">
        {{ form.csrf_token }} 
        {% for field in form %} 
        <div class="form-group">
            {% if field.name != 'csrf_token' and field.name != 'password' and field.name != 'confirm' %}
            <label for="{{field.name}}" class="col-sm-5 control-label">{{ field.label }}</label> <div class="col-sm-3 col-lg-2">{{ field }}</div>
            <span>
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            </span>
            {% endif %} 
            </div>
        {% endfor %}
        <button class="btn btn-warning" type="submit">Edit Profile</button>
    </form>
</div>
    <p></p>
    <form action="{{url_for('profile', id=user.id)}}?_method=DELETE" method="POST">
        <button class="btn btn-danger" type="submit">Delete User</button>
    </form>
    <p></p>
{% endblock %}