{% extends './base.html' %}
{% block title %}
    Video App Login
{% endblock %}

{% block content %}
<h1>User Login</h1>
<div class="form-horizontal">
    <form action="{{url_for('login')}}" method="POST">
        {{ form.csrf_token }} 
        {% for field in form %} 
        <div class="form-group">
            {% if field.name != 'csrf_token' %}
            <label for="{{field.name}}" class="col-sm-5 control-label">{{ field.label }}</label> <div class="col-sm-3 col-lg-2">{{ field }}</div>
            <span>
            {% if field.errors %}
                {% for error in field.errors %}
                    {{ error }}
                {% endfor %}
            {% endif %}
            </span>
            {% endif %} 
            </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Login</button>
    </form>
</div>
{% endblock %}